#!/usr/bin/env bash
# (c) Martin Erzberger 2019, Chonghua Liu 2024
# Edit this file to setup everything the way you like it

set -euo pipefail

# Full path to the openssl executable
OPENSSL=$(command -v openssl)

# The domain name of your intranet
DOMAIN=example.com

# Project root path
export PROJECTROOT=~/internal-ca

# Properties of the certificates
export COUNTRY=CA
export STATE=ON
export CITY=Toronto
export ORG=Private
export ORGUNIT='Private Unit'
export EMAIL=adalbert@example.com
export ROOTCANAME='Example Root CA'
export ISSUINGCANAME='Example Issuing CA'
